<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>256613228271-3t6ouli5to5fm308iq9ba3l9qphfur0q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.256613228271-3t6ouli5to5fm308iq9ba3l9qphfur0q</string>
	<key>API_KEY</key>
	<string>AIzaSyBE6epXxI8VtK2bE1T-Tc78qXwXxOH_zrE</string>
	<key>GCM_SENDER_ID</key>
	<string>256613228271</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dicoding.ditonton</string>
	<key>PROJECT_ID</key>
	<string>watched-d5567</string>
	<key>STORAGE_BUCKET</key>
	<string>watched-d5567.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:256613228271:ios:7ca5ca54864cda9be5851a</string>
</dict>
</plist>